<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" 
protocolVersion="3" />
    <add key="NugetFeed" 
value="https://pkgs.dev.azure.com/tobiasputman/030285f2-9ddf-4603-8fd3-7d2f5b4a3766/_packaging/MinorNuget/nuget/v3/index.json" 
/>
  </packageSources>
  <packageSourceCredentials>
    <NugetFeed>
      <add key="Username" value="kevin.snijder@student.nhlstenden.com" />      
      <add key="ClearTextPassword" value="q2vlv5iubxx2vygg37i5osuzhuf3cv4qr34mqluiauye5pupqwza" />
    </NugetFeed>
  </packageSourceCredentials>
</configuration>
